$primary: #447ba7;
$primary-dark: #2f536f;
$primary-light: #70a1c7;

$secondary: #999999;
$secondary-dark: #757575;
$secondary-light: #fafafa;

$dark-gray: #333333;

.fullscreen {
  height: 100%;
  width: 100%;
}
