.col-buzz {
  width: 100% !important;
  text-align: center !important;
}

.alert-info {
  background: #E8EFF4;
  color: #447BA7;
  text-align: center;
  padding: 10px 15px;
  margin: 10px 0;
}

h3 {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.helper-text {
  color: #999;
  font-size: 0.9em;
}

.format-id-section {
  margin: 15px auto;

  .button-link {
    background: transparent;
    color: #447BA7;
    border: none;
  }

  small {
    display: inline-block;
    color: #999;
    font-size: 0.8rem;
    margin-top: 15px;
    margin-left: 15px;
  }
}
