.title {
  margin: 0 auto;
  display: block;
  font-size: x-large;
  color: rgb(98, 98, 98);
}

.header {
  fill: rgb(98, 98, 98);
}

.options {
  float: right
}

.content {
  height: 90%;
  position: relative;
}

.footer {
  width: inherit;
  text-align: center;
}

.side-menu {
  padding: 0;
  width: 20%;
  min-height: 100vh;
  min-height: calc(100vh - 45px);
  overflow-y: auto;
  box-sizing: border-box;
  background: #F6F6F6;
}
